/node_modules
/public/hot
/public/build
/public/data
/public/fonts
/public/images
/public/storage
/public/js
/public/css
/public/vendors
/storage/*.key
/vendor
/vendor.root-from-docker
/vendor-user
/database/*.sqlite
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vuexy-shell-scripts
supervisord.log
supervisord.pid
.claude/
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
*.DS_Store
/.idea
