includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/Actions
        - app/DTOs
        - app/Enums
        - app/Jobs
        - app/Support
        - app/Policies
        - app/Http/Controllers/Api
        - app/Http/Controllers/Web/UserController.php
        - app/Http/Controllers/Web/RoleController.php
        - app/Http/Requests/User
        - app/Http/Requests/Auth
        - app/Http/Requests/Role
        - app/Http/Resources
        - app/Services
    level: 5
    treatPhpDocTypesAsCertain: false
